*{
  margin: 0;
  padding: 0;
}

.Box{
  width: 100%;
  height: cover;
  display: flow-root;
  align-items: center;
  justify-content: center;
  background: black;
}

.Box p{
  background: url(photo.png) center/cover;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-size: 13px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255,255,255,.02);
}